<!--Sign in with facebook template-->

<template>
  <div>
    <a
        href="javascript:void(0)"
        @click="logInWithFacebook"
        class="btn btn-facebook"
    ><img
        src="@/assets/icons/icons8-facebook-f.svg"
        alt=""
    /><span>Facebook</span></a
    >
  </div>
</template>
<script>
// import axios from "axios";
export default {
  name: "Facebook",
  emits: ['get-facebook-token', 'social-login'],
  methods: {
    async logInWithFacebook() {
      const response = await this.login({scope: 'public_profile,email'});
      if (response.status === 'connected') {
        this.apiAuthenticate(response.authResponse)
      }
    },
    async initFacebook() {
      window.fbAsyncInit = function () {
        window.FB.init({
          appId: process.env.VUE_APP_FACEBOOK_APP_ID, //You will need to change this
          cookie: true,
          xfbml: true,
          version: "v13.0"
        });
      };
    },
    login(options) {
      return new Promise(resolve => window.FB.login(resolve, options))
    },
    apiAuthenticate(authResponse) {
      const that = this;
      window.FB.api(`/${authResponse.userID}?fields=id,name,email,picture&access_token=${authResponse.accessToken}`, function (response) {
        response['picture'] = response.picture.url;
        that.$emit('social-login');
        that.$emit('get-facebook-token', response)
      });
    }
  },
  async mounted() {
    await this.initFacebook();
  }
}
</script>
<style lang="scss" scoped>
@import "@/assets/styles/_variables.scss";
@import "@/assets/styles/_utils.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: $border-radius;

  img {
    height: 30px;
    margin-right: 1rem;
  }

  &.btn-facebook {
    width: 100%;
    border: 1px solid #3b5999;
    background-color: #3b5999;
    color: $white;

    &:hover {
      background-color: #243b6e;
    }
  }
}
</style>