<!--Sign in with google template-->
<template>
  <div>
    <div id="google-sign-in"></div>
  </div>

</template>

<script>
export default {
  name: "GoogleLogin",
  emits:['get-google-token','social-login'],
  methods:{
    initGoogle() {
      /* eslint-disable-next-line */
      google.accounts.id.initialize({
        client_id: process.env.VUE_APP_GOOGLE_CLIENT_ID,
        callback: this.handleCredentialResponse
      });
      /* eslint-disable-next-line */
      google.accounts.id.renderButton(
          document.getElementById("google-sign-in"),
          {theme: "outline", size: "large"}  // customization attributes
      );
      /* eslint-disable-next-line */
      // google.accounts.id.prompt(); // also display the One Tap dialog
    },
    handleCredentialResponse(response) {
      this.$emit('social-login');
      this.$emit('get-google-token',response.credential)
    },
  },
  mounted() {
    this.initGoogle();
  }
}
</script>

<style scoped>
#google-sign-in{
  width: 100%;
}
</style>